<div>
    <h1>Registrarse</h1>
        <form action="/auth/register" method="post">
            <label for="">Nombre de usuario:</label>
            <input type="text" name="user"><br>
            <label for="">Contraseña:</label>
            <input type="password" name="password"><br>
            <label for="">Telefono:</label>
            <input type="number" name="tel"><br>
            <input type="submit" value="Iniciar sesión">
        </form>
</div>